<div class="container">
    <div class="col-lg-12 detail-separator">
      <form class="col-md-6 col-md-offset-3 text-center" action="{% url 'examen_et_concours:search_concours' %}" method="get" accept-charset="utf-8">
        <div class="form-group">
          <label for="searchForm">Chercher un concours</label>
          <input id="searchForm" class="form-control" name="query">
        </div>
        <span class="help-block" id="helpBlock">En savoir plus sur le Concours que vous cherchez.</span>
      </form>
    </div>
  </div>
</div>
  