

    <div class="widget-search col-md-4 offset-md-4">
        <div class="site-search-area">
            <form method="get" id="site-searchform" action="{% url 'examen_et_concours:search_concours' %}" method="get" accept-charset="utf-8">
                <div class="form-group">
                    <input class="input-text form-control" name="query" placeholder="Nom du Concours" type="text">
                    <input id="searchsubmit" type="submit">
                </div>
            </form>
        </div>
    </div>