{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- page touslesconcours -->


<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <p class="lead">Liste de tous les concours<span class="m_1">Avec sujets corrigés des épreuves.</span></p>
                  <br>  {% include 'examen_et_concours/concours_search_form.html' %}
               
            </div>
            
      
    
        


        

        <hr class="invis"> 
        <div class="row"> 
            {% for concours in touslesconcours %}
            {% if concours.category.name == 'Concours' %}

            <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{% static 'schooli/images/blog_1.jpg' %}" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'examen_et_concours:concours_subjects_form' concours.name %}" title="">{{concours.name}}</a></h5>
                  <p class="card-text"><p> {{concours.description|truncatewords:100 }}</p>
                  <a href="{{concours.description }}"> <button type="button" class="btn btn-primary">la suite </button></a>
                  <a href="{% url 'examen_et_concours:concours_subjects_form' concours.name %}"><button type="button" class="btn btn-primary">Voir les sujets</button></a>
                </div>
              </div>
            </div>
          </div>
            <!-- end col -->
            {% endif %}
            {% endfor %}

          </div><!-- end title -->
                                            </div><!-- end row -->
                                        </div><!-- end container -->
                                    </div><!-- end section -->





{% endblock %}

