<!DOCTYPE html>
{% load static %}
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>SchooliEducation - Plateforme d'apprentissage et de préparation aux examens et concours</title>  
    <meta name="keywords" content="sujets correction corrigé concours congo">
    <meta name="description" content="Plateforme de telechargement de sujets des examens et concours.">
    <meta name="author" content="SchooliEducation">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'schooli/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'schooli/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'schooli/css/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'schooli/css/style.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'schooli/css/versions.css ' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'schooli/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'schooli/css/custom.css' %}">

    <!-- Modernizer for Portfolio -->
    <script src="{% static 'schooli/js/modernizer.js' %}"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version"> 

	<!-- Modal -->
	

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	
	
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="">
				<!-- 	<img src="{% static 'schooli/images/logo.png' %}" alt="" />-->
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="">Acceuil</a></li>
				
					{% if request.user.profile.is_teacher == True %}
						<li class="nav-item mx-0 mx-lg-1">
						  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'courses:create_classe' %}">Créer une classe</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
						  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'courses:create_subject' %}">Créer subject</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
						  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'courses:create_teaching' %}">Créer une leçon</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
							<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'blogs:post_list' %} ">Blog</a>
						  </li>
						{% else %}
						
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Espace Prepas </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'examen_et_concours:touslesconcours' %}">Concours </a>
								<a class="dropdown-item" href="{% url 'examen_et_concours:Searchform' %}"> Examens</a>
								<a class="dropdown-item" href="{% url 'courses:home' %}">Cours et TD</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Orienation</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="blog.html"> Apres le Baccaleauréat</a>
								<a class="dropdown-item" href="blog-single.html">Après la licence </a>
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="blog/categorie/concours">Bourses d'études</a></li>
						<li class="nav-item"><a class="nav-link" href="pricing.html">Librarie</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Contact</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="#about">Qui sommes nous</a>
								<a class="dropdown-item" href="#history">Contact</a>
							</div>
						</li>
						{% endif %}
						{% if request.user.is_authenticated %}
						<li class="nav-item dropdown">
						  <a class=" dropdown-toggle nav-link " href="#" role="button" id="dropdown-a" data-toggle="dropdown" >
							  {{request.user.username}}
						  </a>
						
						  <div class="dropdown-menu" aria-labelledby="dropdown-a">
							<a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a>
							<a class="dropdown-item" href="{% url 'account_logout' %}">Sortie</a>
						  </div>
						</li>
						{% else %}
						<li class="nav-item mx-0 mx-lg-1">
						  <a class="active nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'account_login' %}">Connexion</a>
						</li>
						<li class="nav-item mx-0 mx-lg-1">
						  <a class="active nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'account_signup' %}">Inscription</a>
						</li>
						{% endif %}
					  </ul>
						
                   
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
    {% block content %}
    
    {% endblock %}
	
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p> Nous sommes une plateforme de préparation d'examen et concours, Nous accompagnons et orientons les élèves et étudiants tout au long de leur cursus accadémique. Notre siège social se trouve  à Brazzaville, République du Congo.</p>   
						<div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
							</ul><!-- end links -->
						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{% url 'examen_et_concours:home' %}">Acceuil</a></li>
                            <li><a href="{% url 'blogs:post_list'%}">Blog</a></li>
                            <li><a href="#">Nos tarifs</a></li>
							<li><a href="{% url 'courses:about' %}">About</a></li>
							<li><a href="{% url 'courses:contact' %}">Contact</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:yvindjhonnelmahoukou@gmail.com">yvindjhonnelmahoukou@gmail.com</a></li>
                            <li><a href="www.exploitlothar.com">www.exploitlothar.com</a></li>
                            <li>08, rue Moutima na kanga, Massina, Brazzaville</li>
                            <li>+242068814587</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2020 <a href="#">SchooliEducation Design By : <a href="https://html.design/">html design</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="{% static 'schooli/js/all.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{% static 'schooli/js/custom.js' %}"></script>
	<script src="{% static 'schooli/js/timeline.min.js' %}"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
</body>
</html>